<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} =/
    RewriteRule ^(.*) index.php [L]

    RewriteCond %{REQUEST_URI} !/index\.php
    RewriteCond %{REQUEST_URI} !/style
    RewriteCond %{REQUEST_URI} !/api
    RewriteCond %{REQUEST_URI} !/bootstrap

    RewriteRule ^(.*) index.php?a=$1 [L]
</IfModule>
